############################
# IDE / EDITORS
############################
.idea/
**/.idea/
*.iml
*.ipr
*.iws
.vscode/settings.json

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# JAVA / MAVEN
############################
target/
**/target/
.mvn/wrapper/maven-wrapper.jar
/backend/.m2/*

############################
# NODE / VITE / REACT
############################
node_modules/
**/node_modules/
dist/
**/dist/
.vite/

############################
# PYTHON / STT
############################
.venv/
**/.venv/
__pycache__/
**/__pycache__/
*.pyc

############################
# DOCKER
############################
*.log

# ############################
# ENV FILES
# ############################
.env
.env.local
.env.production
.env.prod
*.secret
application-secret.yaml
application-local.yaml
application-secret.properties
application-local.properties
!.env.example
!.env.production.example
!.env.prod.example
!application-prod.yaml

############################
# TEST / COVERAGE
############################
coverage/
**/coverage/

docs/obsidian/.obsidian/workspace.json
docs/obsidian/.obsidian/workspaces.json
/backend/logs/*
frontend/nginx/default.conf
